# PostgreSQL Database Configuration
BOOK_MANAGEMENT_DB_NAME = "book_management"
BOOK_MANAGEMENT_DB_USER = "postgres"
BOOK_MANAGEMENT_DB_PASSWORD ="123123"
BOOK_MANAGEMENT_DB_HOST = "localhost"
BOOK_MANAGEMENT_DB_PORT = "5432"


BOOK_MANAGEMENT_ENV = "PROD"
BOOK_MANAGEMENT_PORT = 8000
SERVER_URL=http://localhost:8000


# Schema
BOOK_MANAGEMENT_AUTH_SCHEMA = "auth"
BOOK_MANAGEMENT_BOOK_SCHEMA = "book"

# TABLE
BOOK_MANAGEMENT_USER_TABLE = "users"
BOOK_MANAGEMENT_AUTHOR_TABLE = "authors"
BOOK_MANAGEMENT_BOOK_TABLE = "books"
BOOK_MANAGEMENT_CATEGORY_TABLE = "categories"
BOOK_MANAGEMENT_PASSWORD_RESET_TABLE = "password_reset"

# EMAIL
MAIL_USERNAME=your email
MAIL_PASSWORD="Gmail App Password of Google" setting in (https://myaccount.google.com/apppasswords)
MAIL_FROM=your email
MAIL_PORT=587
MAIL_SERVER="smtp.gmail.com"
MAIL_TLS=True
MAIL_SSL=False