# PostgreSQL Database Configuration
BOOK_MANAGEMENT_DB_NAME = "book_management"
BOOK_MANAGEMENT_DB_USER = "postgres"
BOOK_MANAGEMENT_DB_PASSWORD ="123123"
BOOK_MANAGEMENT_DB_HOST = "localhost"
BOOK_MANAGEMENT_DB_PORT = "5432"


BOOK_MANAGEMENT_ENV = "PROD"
BOOK_MANAGEMENT_PORT = 8000